<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="asset 17.svg" type="image/svg+xml">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>ToDoList</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header">
            <div class="logo">
                <img src="asset 17.svg" alt="">
            </div>
            <div class="logo">
                <h3>todoist</h3>
            </div>
        </div>
        <div class="flex nav-links">
            <ul class="flex navul">
                <li><a href="/features">Features</a></li>
                <li><a href="">Templates</a></li>
                <li><a href="">For Team</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
            <div class="flex vl"></div>
            <a href="/register" class="primary-btn">Start for free</a>
        </div>
    </nav>

    <!-- content of the page -->
    <div class="main">
        <div class=" heading" style="margin-top:200px ;">
            <h1>Organize your work <br> and life, finally.</h1>
        </div>
        <div class="para">
            <h3>Become focused, organized, and calm with Todoist. The world’s #1 <br> task manager and to-do list
                app.
            </h3>
        </div>
        <div class="btn2">
            <a href="/register" class="primary-btn">Start for free</a>
        </div>
        <div class="images">
            <img class="asset0" src="asset 0.png" alt="">
            <img class="asset1" src="asset 1.png" alt="">
            <hr>
        </div>
        <div class="after-image">
            <h3>30 million+ people and teams trust their sanity and productivity to Todoist</h3>
        </div>
        <div class="company">
            <img id="microsoft" src="asset 20.svg" alt="">
            <img id="amazon" src="asset 21.svg" alt="">
            <img src="asset 22.svg" alt="">
            <img src="asset 23.svg" alt="">
            <img id="adobe" src="asset 24.svg" alt="">
            <img id="saleforce" src="asset 25.svg" alt="">
        </div>

        <div class="animation">
            <div class="mind">
                <h4 class="leftr">Clear Your Mind</h4>
                <h1 class="leftr">The fastest way to get <br> tasks out of your head</h1>
                <h3 class="leftr">Type just about anything into the task field and <br> Todoist’s one-of-its-kind
                    natural language
                    <br> recognition will instantly fill your to-do list.
                </h3>
            </div>
            <div>
                <img class="heyy" src="Screenshot 2023-07-29 101701.png" alt="">
            </div>
        </div>




        <div class="animation">
            <div class="mind2">
                <div>
                    <img src="ss2.png" alt="">
                </div>
                <div class="mind-title">
                    <h4 class="leftr">Clear Your Mind</h4>
                    <h1 class="leftr">The fastest way to get <br> tasks out of your head</h1>
                    <h3 class="leftr">Type just about anything into the task field and <br> Todoist’s one-of-its-kind
                        natural language
                        <br> recognition will instantly fill your to-do list.
                    </h3>
                </div>
            </div>
        </div>
        <div class="af">
            <h1 class="head1">“Todoist makes it easy to go as simple <br> or as complex as you want”</h1>
            <h3 class="head3">-The Verge</h3>
        </div>
        <div class="end-f">
            <img class="ss3" src="ss3.png" alt="">
            <div class="e-vl"></div>
            <ul class="e-features">
                <li><i class="fa-solid fa-plus"></i>Add a Task</li>
                <li><i class="fa-solid fa-paperclip"></i>Break into SubTask</li>
                <li><i class="fa-solid fa-list-check"></i>Move Task into Project</li>
                <li><i class="fa-solid fa-user"></i>Share your Projects</li>
                <li><i class="fa-solid fa-flag"></i>Give task a priority level</li>
                <li><i class="fa-solid fa-bell"></i>Set up reminders</li>
                <li><i class="fa-solid fa-puzzle-piece"></i>add some extensions</li>
                <li><i class="fa-solid fa-droplet"></i>Create filter view</li>
                <li><i class="fa-solid fa-circle-check"></i>Complete task</li>
            </ul>
        </div>

        <div class="l-f">
            <h1 class="l-fh">Explore all Todoist has to offer</h1>
            <div class="card">
                <div class="cardcontent caards">
                    <img src="asset 7.png" alt="">
                    <h3>Features</h3>
                </div>
                <div class="cardcontent caards">
                    <img src="asset 8.png" alt="">
                    <h3>Template Gallery</h3>
                </div>
                <div class="cardcontent caards">
                    <img src="asset 9.png" alt="">
                    <h3>productivity Quiz</h3>
                </div>
                <div class="cardcontent caards">
                    <img src="asset 10.png" alt="">
                    <h3>Extension Gallery</h3>
                </div>
                <div class="cardcontent caards">
                    <img src="asset 11.png" alt="">
                    <h3>Insperational Hub</h3>
                </div>
            </div>
        </div>

        <div class="animation3">
            <div class="mind3">
                <h4 class="leftr">In it for the long haul</h4>
                <h1 class="leftr">A task manager you <br> can trust for life</h1>
                <h3 class="leftr">We’ve been building Todoist for 16 years and 181 <br> days. Rest assured that we’ll
                    never sell out
                    to the <br> highest bidder.
                </h3>
            </div>
            <div class="images-2">
                <img class="animation-img" src="Screenshot 2023-07-29 101701.png" alt="">
            </div>
        </div>

        <div class="sub-footer">
            <div class="foot">
                <h1 class="sub-h1">Gain calmness and clarity with the<br>world’s most beloved productivity app</h1>
                <h3 class="sub-h1">337,000+ ★★★★★ reviews on Google Play and App Store</h3>
                <!-- <a href="/register" class="primary-btn sub-btn">Start for free</a> -->
                <button class="primary-btn sub-btn" style="margin-left: 550px;">Start for free</button>
                <button class="sub-btn dwn"><i class="fa-solid fa-download"></i>Download Now</button>
            </div>
            <hr class="foot-hr">
            <div class="footer" style="margin-left: 150px;">
                <div>
                    <img src="asset 16.svg" alt="">
                    <h3>Join millions of people who organize <br> work and life with Todoist</h3>
                </div>
                <div class="foot-ul">
                    <ul class="fut">
                        <li>
                            <h4>Features</h4>
                        </li>
                        <li>How it Works</li>
                        <li>For Teams</li>
                        <li>Pricing</li>
                        <li>Templates</li>
                    </ul>
                </div>
                <div class="foot-ul">
                    <ul class="fut">
                        <li>
                            <h4>Resources</h4>
                        </li>
                        <li>Download Apps</li>
                        <li>Help Center</li>
                        <li>productivity Methods</li>
                        <li>Integrations</li>
                        <li>Channel Partners</li>
                        <li>Developers API</li>
                        <li>Status</li>
                    </ul>
                </div>
                <div class="foot-ul">
                    <ul class="fut">
                        <li>
                            <h4>Company</h4>
                        </li>
                        <li>About Us</li>
                        <li>Carrers</li>
                        <li>Insperational Hub</li>
                        <li>Press</li>
                        <li>Twist</li>
                    </ul>
                </div>
                <div class="foot-ul">
                    <ul class="fut">
                        <li><i class="fa-brands fa-instagram icon"></i></li>
                        <li><i class="fa-brands fa-youtube icon"></i></li>
                        <li><i class="fa-brands fa-facebook icon"></i></li>
                        <li><i class="fa-brands fa-twitter icon"></i></li>
                    </ul>
                </div>
            </div>
            <div class="sec">
                <p style="color: #706d66;">CopyRight<i class="fa-regular fa-copyright"></i></p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d8cca2ac41.js" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>