<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="asset 17.svg" type="image/svg+xml">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>ToDoList</title>
</head>

<body>

    <div class="container">
        <div class="logo">
            <img src="assets/asset 16.svg" alt="">
        </div>
        <div class="sign-up">
            <h2>Sign Up</h2>
        </div>
        <div class="page">
            <form class="form" method="post" action="">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="username" id="email" autocomplete="off" placeholder="Enter your email">
                </div>
                <div class="field">
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <div class="password">
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                        <button class="primary-btn show-btn" onclick="show()" type="button">Show</button>
                    </div>
                </div>
                <button class="primary-btn form-button" type="submit">Sign Up</button>
            </form>
            <div class="pageimg">
                <img src="asset 8.png" alt="">
            </div>
        </div>
        <div class="cardss">
            <h3>Before Todoist, my to-do lists were scattered all around! Now, everything is in order and in one place.
            </h3>
            <p>- Matt M.</p>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>